<br>
<h1>Your Jazz Standards</h1>
<br>
<ol>
<% @standards.each do |s| %>
    <li>
        <h4><a href="/jazz-standards/<%= s.id %>">"<%= s.title %>" by <%= s.composer %></a></h4>
        <br>
    </li>
<% end %>
</ol>

