<br>
<h1>Add a Standard to Your List!</h1>
<br>
<form method="post" action="/jazz-standards">
    <label for="title">Title: <input type="text" name="title" id="title"></label><br><br>
    <label for="composer">Composer: <input type="text" name="composer" id="composer"></label><br><br>
    <label for="recording">Recording: <input type="text" name="recording" id="recording"></label><br><br>
    <label for="performer">Performer: <input type="text" name="performer" id="performer"></label><br><br>
    <label for="tempo">Tempo: <input type="text" name="tempo" id="tempo"> bpm</label><br><br>

    # Please change concepts input type to Checkboxes
    <br><label for="levels_of_knowledge">Concepts: <input type="text" name="levels_of_knowledge" id="levels_of_knowledge">(i.e.: melody, chords, bassline, lyrics)</label><br><br>
    <label for="date_memorized">Date Memorized: <input type="text" name="date_memorized" id="date_memorized"></label><br>
    <br>
    <input type="submit" value="Create Standard">
</form>