<h2>Welcome, <%= @user.username %>!</h2>
<h3><%= @user.email %></h3>
<h3><%= @user.instrument %></h3>
<br>
<h3>Your Standards:</h3>
<h4>This is where your standards will be listed (ordered list, by date created/memorized)</h4>