<h2>Sign Up</h2>
<br>
<form method="post" action="/users">
    <label for="username">Username: <input type="text" name="username" id="username"></label><br><br>
    <label for="email">Email: <input type="text" name="email" id="email"></label><br><br>
    <label for="password">Password: <input type="password" name="password" id="password"></label><br><br>
    <label for="instrument">Instrument: <input type="text" name="instrument" id="instrument"></label><br><br>
    <input type="submit" id="submit" value="Sign Up">
</form>
<br>
<a href='/'>Home</a>