<h1>Sign Up!</h1>

<form method="post" action="/users">
    <label for="username">Username: <input type="text" name="username" id="username"></label><br>
    <label for="email">Email: <input type="text" name="email" id="email"></label><br>
    <label for="password">Password: <input type="password" name="password" id="password"></label><br>
    <label for="instrument">Instrument: <input type="text" name="instrument" id="instrument"></label><br>
    <input type="submit" id="submit" value="Sign Up">

</form>