<div class="container">
  <h1>Welcome to the Jazz Standard Practice Log!</h1>
  <br>
  <h3>About This Site</h3>
  <p>Any jazz musician knows that there is a (seemingly) endless list of tunes they need to know inside and out, so that if any given tune is called on a gig or at a jam, they can play it at a moment's notice. This app will help you to stay organized as you learn these standards, keeping track of the important aspects of each standard, such as it's composer and your favorite recordings, as well as your own levels of knowledge of the tune as you practice it.</p>

  <h3>Not sure where to start? Check out <a href="https://www.learnjazzstandards.com/blog/50-jazz-standards-you-need-to-know/" target="_blank">this site's list of popular jazz standards</a> to give yourself some ideas.</h3>
  <h3><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to get started.</h3>
  <h3>Happy Practicing!</h3>
</div>
