<div class="container">
  <h1>Welcome to the Jazz Standard Practice Log!</h1>
  <h3>Here I will explain the purpose of the app/how to use it</h3>
  <br>
  <h3>Here I will put a list of Popular Jazz Standards to <a href="#">Get Started On Your List</a></h3>
  <h3>(maybe that link can be posted when you login instead/as well? Not sure yet)</h3>

  <br>
  <a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
</div>
